<div class="container parent-container">
 <!-- <div class="table1"> -->
  <div class="bootstrap-container" tableExportCopy [exportConfig]="{tableElementID:'#my-bootstrap-table',buttonElementID:'.tbl-header1',menuItems:['export_table']}"
(exportResult)="onFinish($event)">
<div class="tbl-header1  header-with-bg">
  <span class="h4">
    Bootstrap Table
  </span>
  <!-- <button class="btn" #myButton (click)="openModal()">click</button> -->
</div>
  <table id="my-bootstrap-table" border="1"  class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name - Table1</th>
        <th scope="col">User Name - Table1</th>
        <th scope="col">Email - Table1</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList;let i=index">
        <!-- <th scope="row"></th> -->
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div>  -->

<div *ngIf="enableTbl" class="bootstrap-container" tableExportCopy [exportConfig]="{tableElementID:'#my-bootstrap-table',buttonElementID:'.tbl-header'}"
(exportResult)="onFinish($event)">
<div class="tbl-header header-with-bg">
  <span class="h4">
    Bootstrap Table Asynchronous
  </span>
  <!-- <button class="btn" #myButton (click)="openModal()">click</button> -->
</div>
  <table id="my-bootstrap-table" border="1"  class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name - Table2</th>
        <th scope="col">User Name - Table2</th>
        <th scope="col">Email - Table2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList;let i=index">
        <!-- <th scope="row"></th> -->
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<!-- MATERIAL TABLE -->
<div style="display: flex;flex-wrap:wrap;place-content:center;margin:2em;margin-bottom:0px" tableExportCopy [exportConfig]="{tableElementID:'table', 
buttonElementID:'.mat-tbl-header'}"  (exportResult)="onFinish($event)">
  <div class="mat-tbl-header header-with-bg">
    <span class="h4">
    Material  Table 
    </span>
    <!-- <button class="btn" #myButton (click)="openModal()">click</button> -->
  </div>
<table id="my-table" mat-table [dataSource]="userList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name - Material </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> User Name - Material </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email - Material </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

 
  <tr mat-header-row >dd</tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>